footer {
    background-color: #deded5;
  
    h5 {
      letter-spacing: 2px;
      color: #818963;
    }
  
    a {
      color: #4f4f4f;
      text-decoration: none;
  
      &:hover {
        text-decoration: underline;
      }
    }
  
    table {
      color: #4f4f4f;
      border-color: #666;
    }
  
    .text-center {
      background-color: rgba(0, 0, 0, 0.2);
  
      a {
        color: #000;
      }
    }
  }
  