.ToursPage {
  display: flex;
  flex-direction: column;
  gap: 10px;
  min-height: 85vh;
  
  &-SearchBar {
    width: 100%;
  }
  
  &-SideBar {
    display: flex;
    gap: 20px;
    align-items: flex-start;
    flex-grow: 1;  
  }
  
  &-Cards {
    flex-grow: 1; 
  }

  &-Pagination {
    align-self: center; 
    margin-top: 40px; 
  }
}
