.ToursPage {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  
  .ToursPage-SearchBar {
    width: 100%;
  }
  
  .ToursPage-SideBar {
    display: flex;
    gap: 20px;
    align-items: flex-start;
  }
  
  .SideBar {
    width: 200px; 
  }
  
  .ToursPage-Cards {
    flex-grow: 1; 
  }
  