.TourDetails {
  &-content {
    display: flex;
    flex-direction: column; 
    gap: 20px;
    padding: 20px;
  }

  &-main {
    display: flex;
    gap: 20px; 
    min-height: 400px;
  }

  &-swiper {
    flex: 1;
    max-width: 50%;
    background-color: #f9f9f9;
    padding: 10px;
  }

  &-side {
    flex: 1;
    max-width: 50%;
    background-color: #fff;
    border-radius: 8px;
    padding: 20px;
  }

  &-describer {
    background-color: #fff;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
}